.central-button {
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;

  background-color: #fff;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.central-button-icon {
  color: var(--primary-orange);
  font-size: 3rem;
}
