.move-area-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.move-area {
  height: 30rem;
  width: 30rem;
  background-color: #fff;
  align-self: center;
  position: relative;
}
